.bgColor {
  background-color: #3d7196;
}
.footer {
  max-height: 304px;
  padding: 3rem;
}
.footer_container {
  display: flex;
  justify-content: space-between;
}
.footer_icons {
  display: flex;
}

.footer_icons > li {
  list-style: none;

  /* border: 1px solid green; */
  margin-right: 1rem;
}
.footer_links {
  display: flex;
  justify-content: space-between;
  width: 32.5%;
}
.footer_links > ul {
  font-family: Inter;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  list-style: none;
  color: white;
  padding-bottom: 3rem;
}
.footer_links > ul > li {
  margin-bottom: 1.5rem;
}
.footer_links > ul > li > span {
  display: inline-block;
  padding: 1rem;
}

.under_line {
  text-decoration: underline;
}

.copyrigthBox {
  font-family: Inter;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;

  color: white;
}
